:root {
    font-family: 'Red Hat Text', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    background:
            url("images/pattern-hills.svg") no-repeat fixed bottom,
            hsl(235, 16%, 14%) url("images/bg-stars.svg") fixed;
    background-size: contain ,contain;
}
main {
    height: 100vh;
    padding-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}
h3 {
    color: white;
    letter-spacing: 10px;
}
.timer {
    width: 100%;
    color: hsl(345, 95%, 68%);
    font-size: 5rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
}
.time {
    width: 155.5px;
    cursor: pointer;
    position: relative;
    background-color: hsl(236, 21%, 26%);
    padding: 1.2rem 1.4rem;
    border-radius: 10px;
    box-shadow: 0 10px hsl(234, 17%, 12%);
    text-align: center;
}
.time::before {
    content: '';
    position: absolute;
    inset: 0 0 50% 0;
    background-color: hsla(234, 17%, 12%, 0.23);
    border-bottom: 1px solid hsl(235, 16%, 14%);
}
.day::after {
    content: 'DAYS';
    position: absolute;
    color: hsl(237, 18%, 59%);
    font-size: 13px;
    bottom: -35px;
    left: 29.5%;
    letter-spacing: 12px;
}
.hour::after {
    content: 'HOURS';
    position: absolute;
    color: hsl(237, 18%, 59%);
    font-size: 13px;
    bottom: -35px;
    left: 29%;
    letter-spacing: 6px;
}
.minute::after {
    content: 'MINUTES';
    position: absolute;
    color: hsl(237, 18%, 59%);
    font-size: 13px;
    bottom: -35px;
    left: 22%;
    letter-spacing: 5px;
}
.second::after {
    content: 'SECOND';
    position: absolute;
    color: hsl(237, 18%, 59%);
    font-size: 13px;
    bottom: -35px;
    left: 23%;
    letter-spacing: 6px;
}
span.left {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: hsl(235, 16%, 14%);
    border-right: 4px solid hsl(235, 16%, 14%);
    border-radius: 50%;
    left:-3px;
    top: 46.1%;
}
span.right {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: hsl(235, 16%, 14%);
    border-right: 4px solid hsl(235, 16%, 14%);
    border-radius: 50%;
    right:-3px;
    top: 46.1%;
}
.social {
    margin: auto auto 3rem auto;
    display: flex;
    gap: 2rem;
}
.social img {
    cursor: pointer;
    transition: width 0.2s;
}
.social img:hover {
    scale: 110%;
    filter: invert(59%) sepia(23%) saturate(3041%) hue-rotate(306deg) brightness(99%) contrast(90%);
}

@media screen and (max-width:600px) {
    body {
        background-size: 900px, contain;
    }
    h3 {
        font-size: 1rem;
        text-align: center;
    }
    main {
        padding-top: 40%;
        gap: 4rem;
    }
    .timer {
        gap: 1rem;
    }
    .time {
        border-radius: 4px;
        width: 72px;
        font-size: 2rem;
        padding: 0.8rem 0;
    }
    .time::after {
        font-size: 8px;
        letter-spacing: 2px;
        bottom: -28px;
    }
    span.left, span.right {
        width: 6px;
        height: 6px;
        top: 45%;
    }
    .social {
        margin-bottom: 2rem;
    }
}
